.titleu{
    font-size: 5rem;
    font-family: inherit;
    letter-spacing: inherit;
    color: goldenrod;
    text-align: center;
    padding: 10;
}

.styled-table{
    border-collapse: collapse;
    margin: auto;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    background-color: transparent;
    color: goldenrod;
}

.styled-table thead tr{
    background-color: black;
    color: goldenrod;
    text-align: center;
}

.styled-table th{
    padding: 5px 15px;
}
.styled-table td{
    padding: 2px 5px;
}

.styled-table tbody tr{
    border-bottom: 1px solid transparent;
}

.styled-table tbody tr:nth-of-type(even){
    background-color:transparent;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid goldenrod;
}

.btndisplay{
    display: flex;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn.btn_view {
    background-color: lightgreen;
    color: white;
  }
  
  .btn.btn_edit {
    background-color: orange;
    color: white;
  }
  
  .btn.btn_delete {
    background-color: red;
    color: white;
  }

  .user-card {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: grid;
    padding: 2rem 4rem;
 

  }
  
  .user-card .card-footer {
    background-color: #fff;
  }
  
  .user-card .card-footer a {
    color: #000;
  }
  
  .user-card .card-footer a:hover {
    text-decoration: none;
  }
  
  .user-card .card-footer .btn-delete {
    color: #fff !important;
    background-color: red;
    border: none;
    width: 100%;
  }
  
  .user-card .card-body .btn-temporary-id {
    background-color: yellow;
    color: #fff;
    border: none;
    width: 100%;
  }
  
  